Repository papillonbits/search: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}", stylelint "packages/core/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/core/src/**/**/*.scss"

.lintstagedrc:

{
  "packages/core/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/core/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/core/src/**/*.scss": [
    "stylelint \"packages/core/src/**/**/*.scss\" --custom-syntax=postcss-scss --fix",
    "prettier --write \"packages/core/src/**/**/*.scss\"",
    "git add"
  ]
}

setup gitignore
  .gitignore
Due: none

add jest test results
  .jest-test-results.json
Due: none

setup root packages and scripts
  bumpstack.sh
  package-lock.json
  package.json
Due: none

setup setup packages and scripts
  packages/core/README.md
  packages/core/bumpstack.sh
  packages/core/package-lock.json
  packages/core/package.json
Due: none

setup core webpack
  packages/core/webpack/index.html
  packages/core/webpack/webpack.acceptance.babel.js
  packages/core/webpack/webpack.common.js
  packages/core/webpack/webpack.constant.js
  packages/core/webpack/webpack.develop.babel.js
  packages/core/webpack/webpack.release.babel.js
  packages/core/webpack/webpack.test.babel.js
Due: none

implement library constant
  packages/core/src/library/constant/__tests__/index.test.js
  packages/core/src/library/constant/alertText/app/index.js
  packages/core/src/library/constant/alertText/listCars/index.js
  packages/core/src/library/constant/carBodyworks.js
  packages/core/src/library/constant/carBrands.js
  packages/core/src/library/constant/carColors.js
  packages/core/src/library/constant/carFuels.js
  packages/core/src/library/constant/carTransmissions.js
  packages/core/src/library/constant/carYears.js
  packages/core/src/library/constant/index.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

implement library environment
  packages/core/src/library/environment/host/__tests__/index.test.js
  packages/core/src/library/environment/host/index.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

keep pattern atom
  packages/core/src/pattern/atom/.gitkeep
Due: none

implement pattern molecule Navigator
  packages/core/src/pattern/molecule/Navigator/Navigator.hook.js
  packages/core/src/pattern/molecule/Navigator/Navigator.jsx
  packages/core/src/pattern/molecule/Navigator/Navigator.md
  packages/core/src/pattern/molecule/Navigator/Navigator.prop.js
  packages/core/src/pattern/molecule/Navigator/Navigator.scss
  packages/core/src/pattern/molecule/Navigator/__tests__/Navigator.int.story.js
  packages/core/src/pattern/molecule/Navigator/__tests__/Navigator.int.test.js
  packages/core/src/pattern/molecule/Navigator/__tests__/__snapshots__/Navigator.int.test.js.snap
  packages/core/src/pattern/molecule/Navigator/index.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}", stylelint "packages/core/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/core/src/**/**/*.scss"

implement pattern organism
  packages/core/src/pattern/organism/.gitkeep
Due: none

implement pattern page ListCarPage
  packages/core/src/pattern/page/ListCarPage/AsyncListCarPage.jsx
  packages/core/src/pattern/page/ListCarPage/ListCarPage.jsx
  packages/core/src/pattern/page/ListCarPage/ListCarPage.md
  packages/core/src/pattern/page/ListCarPage/ListCarPage.prop.js
  packages/core/src/pattern/page/ListCarPage/__tests__/ListCarPage.int.story.js
  packages/core/src/pattern/page/ListCarPage/__tests__/ListCarPage.int.test.js
  packages/core/src/pattern/page/ListCarPage/__tests__/__snapshots__/ListCarPage.int.test.js.snap
  packages/core/src/pattern/page/ListCarPage/index.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

implement pattern page NotFoundPage
  packages/core/src/pattern/page/NotFoundPage/AsyncNotFoundPage.jsx
  packages/core/src/pattern/page/NotFoundPage/NotFoundPage.jsx
  packages/core/src/pattern/page/NotFoundPage/NotFoundPage.md
  packages/core/src/pattern/page/NotFoundPage/NotFoundPage.prop.js
  packages/core/src/pattern/page/NotFoundPage/__tests__/NotFoundPage.int.story.js
  packages/core/src/pattern/page/NotFoundPage/__tests__/NotFoundPage.int.test.js
  packages/core/src/pattern/page/NotFoundPage/__tests__/__snapshots__/NotFoundPage.int.test.js.snap
  packages/core/src/pattern/page/NotFoundPage/index.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

implement pattern template ListCarTemplate
  packages/core/src/pattern/template/ListCarTemplate/ListCarTemplate.hook.js
  packages/core/src/pattern/template/ListCarTemplate/ListCarTemplate.jsx
  packages/core/src/pattern/template/ListCarTemplate/ListCarTemplate.md
  packages/core/src/pattern/template/ListCarTemplate/ListCarTemplate.prop.js
  packages/core/src/pattern/template/ListCarTemplate/ListCarTemplate.scss
  packages/core/src/pattern/template/ListCarTemplate/__tests__/ListCarTemplate.int.story.js
  packages/core/src/pattern/template/ListCarTemplate/__tests__/ListCarTemplate.int.test.js
  packages/core/src/pattern/template/ListCarTemplate/__tests__/__snapshots__/ListCarTemplate.int.test.js.snap
  packages/core/src/pattern/template/ListCarTemplate/index.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}", stylelint "packages/core/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/core/src/**/**/*.scss"

implement pattern template NotFoundTemplate
  packages/core/src/pattern/template/NotFoundTemplate/NotFoundTemplate.jsx
  packages/core/src/pattern/template/NotFoundTemplate/NotFoundTemplate.md
  packages/core/src/pattern/template/NotFoundTemplate/NotFoundTemplate.prop.js
  packages/core/src/pattern/template/NotFoundTemplate/NotFoundTemplate.scss
  packages/core/src/pattern/template/NotFoundTemplate/__tests__/NotFoundTemplate.int.story.js
  packages/core/src/pattern/template/NotFoundTemplate/__tests__/NotFoundTemplate.int.test.js
  packages/core/src/pattern/template/NotFoundTemplate/__tests__/__snapshots__/NotFoundTemplate.int.test.js.snap
  packages/core/src/pattern/template/NotFoundTemplate/index.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}", stylelint "packages/core/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/core/src/**/**/*.scss"

implement route
  packages/core/src/route/__tests__/index.test.js
  packages/core/src/route/__tests__/path.test.js
  packages/core/src/route/index.js
  packages/core/src/route/path.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

implement route
  packages/core/src/state/default/context/index.js
  packages/core/src/state/default/context/navigation.js
  packages/core/src/state/default/context/progress.js
  packages/core/src/state/default/index.js
  packages/core/src/state/default/ui/index.js
  packages/core/src/state/index.js
  packages/core/src/state/mock/index.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

implement store
  packages/core/src/store/__tests__/base.test.js
  packages/core/src/store/__tests__/client.test.js
  packages/core/src/store/action/__tests__/actionCreators.test.js
  packages/core/src/store/action/__tests__/actionTypes.test.js
  packages/core/src/store/action/actionCreators.js
  packages/core/src/store/action/actionTypes.js
  packages/core/src/store/base.js
  packages/core/src/store/client.js
  packages/core/src/store/dispatch/__tests__/index.test.js
  packages/core/src/store/dispatch/index.js
  packages/core/src/store/reducer/context/navigation/set/index.js
  packages/core/src/store/reducer/context/progress/set/index.js
  packages/core/src/store/reducer/index.js
  packages/core/src/store/reducer/ui/listCars/get/index.js
  packages/core/src/store/reducer/ui/listCars/pagination/index.js
  packages/core/src/store/reducer/ui/listCars/search/index.js
  packages/core/src/store/reducer/ui/listCars/select/carsObjects.js
  packages/core/src/store/reducer/ui/listCars/select/index.js
  packages/core/src/store/reducer/ui/listCars/sort/index.js
  packages/core/src/store/reducer/ui/newCars/random/cars.js
  packages/core/src/store/reducer/ui/newCars/random/carsObjects.js
  packages/core/src/store/thunk/context/progress/set/index.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

implement core client render
  packages/core/src/clientRenderApp.js
  packages/core/src/index.js
  packages/core/src/index.scss
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}", stylelint "packages/core/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/core/src/**/**/*.scss"

setup husky
  .husky/pre-commit
Due: none

Updates
  404.html
  index.html
  js/main.2e6dc80151a59ffcd3ce.bundle.js
  js/main.2e6dc80151a59ffcd3ce.bundle.js.LICENSE.txt
  js/runtime.8c219fb218f135a9fcb9.bundle.js
  js/runtime.8c219fb218f135a9fcb9.bundle.js.LICENSE.txt
  manifest.json
  report.html
  styles/main.34caa81134b4742f01cc.css
Due: none

remove docs and e2e references
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  jest.config.js
  packages/core/package.json
Due: none

bumpstack search comply with lerna v6.0.0
  package-lock.json
  package.json
Due: none

bumpstack search comply with node v18.11.0 and npm v8.19.2
  package-lock.json
  package.json
Due: none

bumpstack search comply with node v19.0.0 and npm v8.19.2
  package-lock.json
  package.json
Due: none

align search with papillonbits v0.51
  .docs/image/flux-component.png
  .docs/image/flux-flow.png
  .eslintrc.js
  .jest-test-results.json
  .prettierrc.js
  .storybook/main.js
  .stylelintrc.js
  README.md
  babel.config.js
  bumpstack.sh
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/pattern/molecule/Navigator/__tests__/Navigator.int.story.js
  packages/core/src/pattern/page/ListCarPage/__tests__/ListCarPage.int.story.js
  packages/core/src/pattern/page/NotFoundPage/__tests__/NotFoundPage.int.story.js
  packages/core/src/pattern/page/NotFoundPage/__tests__/NotFoundPage.int.test.js
  packages/core/src/pattern/page/NotFoundPage/__tests__/__snapshots__/NotFoundPage.int.test.js.snap
  packages/core/src/pattern/template/ListCarTemplate/__tests__/ListCarTemplate.int.story.js
  packages/core/src/pattern/template/NotFoundTemplate/__tests__/NotFoundTemplate.int.story.js
  packages/core/src/pattern/template/NotFoundTemplate/__tests__/NotFoundTemplate.int.test.js
  packages/core/src/pattern/template/NotFoundTemplate/__tests__/__snapshots__/NotFoundTemplate.int.test.js.snap
  packages/core/webpack/webpack.acceptance.babel.js
  packages/core/webpack/webpack.common.js
  packages/core/webpack/webpack.constant.js
  packages/core/webpack/webpack.develop.babel.js
  packages/core/webpack/webpack.release.babel.js
  packages/core/webpack/webpack.test.babel.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

Updates
  404.html
  index.html
  js/main.2e6dc80151a59ffcd3ce.bundle.js.LICENSE.txt
  js/runtime.8c219fb218f135a9fcb9.bundle.js.LICENSE.txt
  manifest.json
  report.html
  styles/main.34caa81134b4742f01cc.css
  styles/main.9e1ddce17aa5e70436d2.css
Due: none

bumpstack search comply with node v19.1.0 and npm v8.19.3
  package-lock.json
  package.json
Due: none

bumpstack search comply with node v19.3.0 and npm v9.2.0
  package-lock.json
  package.json
  packages/core/package-lock.json
  packages/core/webpack/webpack.acceptance.babel.js
  packages/core/webpack/webpack.common.babel.js
  packages/core/webpack/webpack.constant.babel.js
  packages/core/webpack/webpack.develop.babel.js
  packages/core/webpack/webpack.release.babel.js
  packages/core/webpack/webpack.test.babel.js
Due: none

bumpstack search comply with node v19.5.0 npm v9.3.1 jsdom v21.1.0
  package-lock.json
  package.json
  packages/core/src/library/environment/host/__tests__/index.test.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

bumpstack search comply with node v19.6.1 npm v9.4.0
  bumpstack.sh
  package-lock.json
  package.json
Due: none

bumpstack search comply with node v20.3.1 npm v9.6.7
  LICENSE
  bumpstack.sh
  package-lock.json
  package.json
  packages/core/bumpstack.sh
Due: none

Updates
  404.html
  index.html
  js/main.2e6dc80151a59ffcd3ce.bundle.js
  js/main.ed3b2efa2c072175f781.bundle.js
  js/main.ed3b2efa2c072175f781.bundle.js.LICENSE.txt
  js/runtime.8c219fb218f135a9fcb9.bundle.js.LICENSE.txt
  manifest.json
  report.html
  styles/main.7413c6a0534a5ba52f87.css
  styles/main.9e1ddce17aa5e70436d2.css
Due: none

bumpstack search comply with storybook v7.0.24
  bumpstack.sh
  package-lock.json
  package.json
Due: none

Updates
  404.html
  index.html
  js/main.60799d534ffa1c9a342f.bundle.js
  js/main.60799d534ffa1c9a342f.bundle.js.LICENSE.txt
  js/main.ed3b2efa2c072175f781.bundle.js
  manifest.json
  report.html
Due: none

bumpstack search comply with node v20.6.0 npm v9.8.1
  bumpstack.sh
  package-lock.json
  package.json
  packages/core/src/index.scss
Due: stylelint "packages/core/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/core/src/**/**/*.scss"

bumpstack search
  package-lock.json
Due: none

bumpstack search comply with node v21.5.0 npm v10.2.4 redux v5.0.1
  package-lock.json
  package.json
  packages/core/src/store/__tests__/base.test.js
  packages/core/src/store/__tests__/client.test.js
  packages/core/src/store/base.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

Updates
  404.html
  index.html
  js/main.194f569b41564103ac3e.bundle.js
  js/main.194f569b41564103ac3e.bundle.js.LICENSE.txt
  js/main.60799d534ffa1c9a342f.bundle.js
  js/runtime.8c219fb218f135a9fcb9.bundle.js.LICENSE.txt
  manifest.json
  report.html
  styles/main.7413c6a0534a5ba52f87.css
  styles/main.902bbe683a16160b9bb2.css
Due: none

update license
  LICENSE
Due: none

bumpstack search comply with node v21.6.2 npm v10.2.4
  package-lock.json
  package.json
Due: none
