Repository papillonbits/search: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}", stylelint "packages/core/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/core/src/**/**/*.scss"

bumpstack search packages storybook
  .gitignore
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  LICENSE
  bumpstack.sh
  package-lock.json
  package.json
  packages/core/src/index.scss
  packages/core/src/pattern/molecule/Navigator/__tests__/__snapshots__/Navigator.int.test.js.snap
  packages/core/src/pattern/page/ListCarPage/__tests__/__snapshots__/ListCarPage.int.test.js.snap
  packages/core/src/pattern/page/NotFoundPage/__tests__/__snapshots__/NotFoundPage.int.test.js.snap
  packages/core/src/pattern/template/ListCarTemplate/__tests__/__snapshots__/ListCarTemplate.int.test.js.snap
  packages/core/src/pattern/template/NotFoundTemplate/__tests__/__snapshots__/NotFoundTemplate.int.test.js.snap
  packages/core/webpack/index.html
Due: stylelint "packages/core/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/core/src/**/**/*.scss"

complement bumpstack
  bumpstack.sh
Due: none

bumpstack search comply with node v24.10.0 npm v11.6.1
  package-lock.json
  package.json
Due: none

Updates
  404.html
  index.html
  js/main.194f569b41564103ac3e.bundle.js
  js/main.97cfb70ce213bc7101f4.bundle.js
  js/main.97cfb70ce213bc7101f4.bundle.js.LICENSE.txt
  js/runtime.8c219fb218f135a9fcb9.bundle.js
  js/runtime.8c219fb218f135a9fcb9.bundle.js.LICENSE.txt
  js/runtime.fd710dc8ad7d7d4d296e.bundle.js
  js/runtime.fd710dc8ad7d7d4d296e.bundle.js.LICENSE.txt
  manifest.json
  report.html
  styles/main.902bbe683a16160b9bb2.css
  styles/main.f34d334019be982bad1f.css
Due: none

bumpstack search comply with node v24.11.1 npm v11.6.2 react v19.2.1
  bumpstack.sh
  package-lock.json
  package.json
Due: none

test(config/coverage): adjust coverage threshold to 90%
  jest.config.js
Due: none

build(deps): upgrade dependencies to latest versions
  package-lock.json
  package.json
Due: none

refactor(scripts/deps): format dependency install commands with line breaks
  bumpstack.sh
Due: none

refactor(core/template): remove deprecated defaultProps from not found template
  packages/core/src/pattern/template/NotFoundTemplate/NotFoundTemplate.jsx
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

refactor(core/listcar): remove deprecated defaultProps from page
  packages/core/src/pattern/page/ListCarPage/ListCarPage.jsx
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

refactor(core/listcar): remove deprecated defaultProps from async page
  packages/core/src/pattern/page/ListCarPage/AsyncListCarPage.jsx
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

refactor(core/notfound): remove deprecated defaultProps from page
  packages/core/src/pattern/page/NotFoundPage/NotFoundPage.jsx
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

test(snapshots): update snapshots for React 19 DOM changes
  packages/core/src/pattern/page/ListCarPage/__tests__/__snapshots__/ListCarPage.int.test.js.snap
  packages/core/src/pattern/page/NotFoundPage/__tests__/__snapshots__/NotFoundPage.int.test.js.snap
  packages/core/src/pattern/template/ListCarTemplate/__tests__/__snapshots__/ListCarTemplate.int.test.js.snap
  packages/core/src/pattern/template/NotFoundTemplate/__tests__/__snapshots__/NotFoundTemplate.int.test.js.snap
Due: none

refactor(core/navigator): remove deprecated defaultProps
  packages/core/src/pattern/molecule/Navigator/Navigator.jsx
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

refactor(core/notfound): remove deprecated defaultProps from async page
  packages/core/src/pattern/page/NotFoundPage/AsyncNotFoundPage.jsx
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

refactor(core/template): remove deprecated defaultProps from list car template
  packages/core/src/pattern/template/ListCarTemplate/ListCarTemplate.jsx
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

chore(deps/versions): update dependency versions
  package-lock.json
  package.json
Due: none

chore(deps/scripts): add missing dependencies to bumpstack script
  bumpstack.sh
Due: none

test(jest/coverage): update test results
  .jest-test-results.json
Due: none

chore(docs/license): update license
  LICENSE
Due: none

bumpstack search node v24.20.0 npm v11.19.0
  bumpstack.sh
  jest.config.js
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/index.js
  packages/core/src/route/__tests__/index.test.js
  packages/core/webpack/webpack.acceptance.babel.js
  packages/core/webpack/webpack.acceptance.js
  packages/core/webpack/webpack.common.babel.js
  packages/core/webpack/webpack.common.js
  packages/core/webpack/webpack.constant.babel.js
  packages/core/webpack/webpack.constant.js
  packages/core/webpack/webpack.develop.babel.js
  packages/core/webpack/webpack.develop.js
  packages/core/webpack/webpack.release.babel.js
  packages/core/webpack/webpack.release.js
  packages/core/webpack/webpack.test.babel.js
  packages/core/webpack/webpack.test.js
Due: eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix, prettier --write "packages/core/src/**/**/*.{js,jsx}"

Path conditions:
  eslint --ext .js --ext .jsx packages/core/src/**/**/*.{js,jsx} --fix: any of: packages/core/src/**/*.{js,jsx}
  prettier --write "packages/core/src/**/**/*.{js,jsx}": any of: packages/core/src/**/*.{js,jsx}
  stylelint "packages/core/src/**/**/*.scss" --custom-syntax=postcss-scss --fix: any of: packages/core/src/**/*.scss
  prettier --write "packages/core/src/**/**/*.scss": any of: packages/core/src/**/*.scss
